/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

###> PHP-CS-FIXER ###
.php_cs.cache
###< PHP-CS-FIXER ###

###> PHPmd ###
phpmd.html
###< PHPmd ###

###> test results ###
/web/test-coverage/*
###< test results ###
